@page
@model voorhent.Pages.ContactModel
@{
    // В этом блоке вы можете добавить свой серверный код
    // Например, установка значений переменных модели, подготовка данных и т.д.
}

<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.PhoneNumber</p>
</body>
</html>
